$def with (page)
<html>
	
	<head>
		<title>$title</title>
		<link rel="stylesheet" href="/static/custom.css" type="text/css" media="screen" charset="utf-8"/>
		<script type='text/javascript' src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
		<script type='text/javascript' src="/static/javascript.js"></script>

	</head>
	
	<body>
		
		<div id="container">
			
			<div id="header">
				<div id="title-bar">
						<li><h1>$site_name</h1></li>
						<li><h2>"$tag_line"</h2></li>
				</div>
			</div>
			
<div id="content-wrapper">
<div id="nav-bar">
<a href="/"><li id="navbar-blog">blog</li></a>\
$for static in static_pages:
  <a href="$static['path']"><li id="navbar-$static['name']">$static['name']</li></a>\
</div>

				<div id="content">
					$:page
				</div>
			</div>
			<div id="footer"><p>$footer_tag  <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a></p></div>
		</div> <!-- end container -->
	</body>
</html>